<div class="container">

    <div class="login-box animated fadeInUp">
        <div class="box-header">
            <h2>Log In</h2>
        </div>
        <label for="username">Username</label>
        <br/>
        <input type="text" id="username">
        <br/>
        <label for="password">Password</label>
        <br/>
        <input type="password" id="password">
        <br/>
        <button (click)="logIn()">Sign In</button>
        <br/>
        <a href="#">
            <p class="small">Forgot your password?</p>
        </a>
    </div>
</div>

<script>
	$(document).ready(function () {
    	$('#logo').addClass('animated fadeInDown');
    	$("input:text:visible:first").focus();
	});
	$('#username').focus(function() {
		$('label[for="username"]').addClass('selected');
	});
	$('#username').blur(function() {
		$('label[for="username"]').removeClass('selected');
	});
	$('#password').focus(function() {
		$('label[for="password"]').addClass('selected');
	});
	$('#password').blur(function() {
		$('label[for="password"]').removeClass('selected');
	});
</script>